:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  padding: 5px 0 5px 0;
  background:rgb(207, 3, 3);
  color: white;
  text-align: center;
}

header.h1{
  display: inline;
}